/* navbar */
/* .Nav_TAb_Bottom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -22px;
  left: 0%;
  background-color: white;
} */

/* Dropdown */
.DropeDown-Child-1 {
  position: relative;
  transform: translatex(90%);
}

.DropDown-Child-Hide {
  z-index: -3;
  transition: 0s;
  height: 0px;

  top: 30px !important;
}

.DropeDown-Child {
  color: white;
  text-align: center;
  opacity: 0;

  z-index: -2;
}

.DropeDown-Parant:hover .DropeDown-ChildAction-Hover {
  transform: translate(0%);
  opacity: 1;
}

.DropeDown-Parant:hover {
  color: white;
}

.DropeDown-Parant:hover .DropDown-Child-Hide {
  z-index: 2;
  height: unset;
}

.DropeDown-Child:hover {
  color: black;
  background-color: white;
}

.Nav_logo {
  width: 160px !important;
}
.nav_btn {
  background: #ec6a15;
  border-radius: 5px;
  padding: 13px 19px 13px 22px;
  border: 1px solid transparent;
}
.nav_btn:hover {
  background: transparent;
  border-radius: 5px;
  padding: 13px 19px 13px 22px;
  border: 1px solid #ec6a15;
}

.opacity_1:hover {
  opacity: 1;
}

.cursor_pointer {
  cursor: pointer;
}

.threeline {
  width: 30px;
  z-index: 12415;
  position: inherit;
}
.threelinechild {
  width: 100%;
  height: 2px;
  margin-top: 4px;
  transition: all 0.4s ease-in-out;
  background: #ec6a15 !important;
}

.falseline1 {
  width: 80%;
  height: 4px;
  background: #ffffff !important;
  transition: all 0.4s ease-in-out;
  transform: skewY(44deg) translate(10%, 16%);
}
.falseline3 {
  width: 80%;
  height: 4px;
  background: #ffffff !important;
  transition: all 0.4s ease-in-out;
  transform: skewY(-44deg) translate(5%, 16%);
}

.shownav {
  position: fixed;
  width: 140%;
  height: 100vh !important;
  background: #ec6a15 !important;
  left: -18% !important;
  top: 0;
  z-index: 999 !important;
  overflow: scroll;
  transition: all 0.4s ease-in-out;
}
.hidenav {
  position: absolute;
  width: 100vw;
  height: 100vh !important;
  background: #ec6a15 !important;
  left: -160%;
  top: 0;
  transition: all 0.4s ease-in-out;
  z-index: 999 !important;
}
.menu_icon_size {
  width: 30px;
}

/* dropdown */
#Header .btn-success {
  --bs-btn-color: var(--clr-tertiary) !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: transparent !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: var(--bg-theme) !important;
  --bs-btn-active-border-color: none !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: transparent !important;
  font-size: var(--fs-xl) !important;
}
#Header .dropdown-toggle::after {
  display: none !important;
}
#Header .dropdown-toggle:hover svg path {
  stroke: white;
}
#Header .btn {
  color: #ffffff !important;
  font-size: var(--fs-sm) !important;
  font-weight: 400 !important;
  border: none !important;
  --bs-btn-box-shadow: inset none !important;
  --bs-btn-focus-box-shadow: none !important;
  font-family: Plus Jakarta Sans;
  opacity: 0.8;
  padding: 0 !important;
}
#Header .btn:hover {
  color: #ffffff !important;
}
#Header .btn:active {
  color: #ffffff !important;
}
#Header .btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  --bs-btn-color: #848895 !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: #a8a8a8 !important;
}
#Header .dropdown-menu {
  position: absolute;
  z-index: 1000 !important;
  color: rgb(245, 244, 244) !important;
  background: #6022ea !important;
  background-clip: padding-box;
  --bs-dropdown-link-hover-bg: black !important;
}
#Header .dropdown-item {
  color: white !important;
}
/* Hero-sec */
.Bg_shadow {
  background: #013968;
  filter: blur(150px);
  width: 350px;
  height: 350px;
}

.left_bottom_img {
  left: 3.57%;
  right: 84.1%;
  bottom: 0.03%;
  width: 285px;
  height: 280px;
}
.w_75 {
  width: 75%;
}
/* About */
.it_img_bottom {
  bottom: -13%;
  right: -9%;
  width: 110px;
}
/* Contact */

#Contact input {
  outline: none;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
}
#Contact textarea {
  outline: none;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  height: 55px;
}
#Contact .submit_btn {
  background: #ec6a15;
  border-radius: 5px;
  padding: 14px 0;
  margin-top: 15px;
}
#Contact .orange_bg_box1::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 50%;
  background: #ec6a15;
  border-radius: 15px 0px 0px 0px;
  z-index: -1;
}
#Contact .orange_bg_box2::before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 15px;
  width: 50%;
  height: 50%;
  background: #ec6a15;
  border-radius: 0px 0px 15px 0px;
  z-index: -1;
}

/* break-point*/
@media (max-width: 576px) {
  .w_xsm_100 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .translate_x {
    transform: translateX(7%);
  }
  .Nav_logo {
    width: 255px !important;
  }
  #Contact .orange_bg_box1::after {
    width: 309.67px;
    height: 309.67px;
  }
  #Contact .orange_bg_box2::before {
    width: 309.67px;
    height: 309.67px;
  }
  .w_sm_75 {
    width: 75%;
  }
  .it_img_bottom {
    bottom: -15%;
    right: -10%;
    width: 150px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  #Contact .submit_btn {
    margin-top: 30px;
  }
  .w_lg_100 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #Contact .submit_btn {
    margin-top: 40px;
  }
}
