* {
  list-style-type: none;
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
.ff_jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.ff_Montserrat {
  font-family: "Montserrat", sans-serif;
}
:root {
  --loader-size: 40px;
  --border-width: 20px;
  --fs-sm: 14px;
  --fs-md: 18px;
  --fs-xl: 20px;
  --fs-2x2l: 22px;
  --fs-2x8l: 16px;
  --fs-4x4l: 28px;
  --fs-5x2l: 28px;

  --fs-6x4l: 40px;
  /* */
  --text-black: #000103;
  --text-orange: #ec6a15;
  --text-blue: #4266b6;
  --first-color: purple;
  /*  */
  --bg-orange: #ec6a15;
  --bg-black: #000103;
  /*  */
  --fw-med: 500;
}

.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2x2l {
  font-size: var(--fs-2x2l);
}
.fs_2x8l {
  font-size: var(--fs-2x8l);
}
.fs_4x4l {
  font-size: var(--fs-4x4l);
}
.fs_5x2l {
  font-size: var(--fs-5x2l);
}
.fs_6x4l {
  font-size: var(--fs-6x4l);
}
/*  */
.text_black {
  color: var(--text-black);
}
.text_orange {
  color: var(--text-orange);
}
.text_blue {
  color: var(--text-blue);
}
/*  */
.bg_orange {
  background-color: var(--bg-orange);
}
.bg_black {
  background-color: var(--bg-black);
}
/*  */
.fw-med {
  font-weight: var(--fw-med);
}
.opacity08 {
  opacity: 0.8;
}
.transition300 {
  transition: all ease-in-out 300ms;
}
.transition350 {
  transition: all ease-in-out 300ms;
}
.z_index0 {
  z-index: 0;
}
.z_index1 {
  z-index: 1;
}
.z_index2 {
  z-index: 2;
}
.z_index3 {
  z-index: 3;
}

/*  */
#Ourservices .Ourservices_Boxes {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
#Ourservices .Ourservices_Boxes span .svg {
  border-radius: 10px;
  background-color: transparent;
}
#Ourservices .Ourservices_Boxes:hover span .svg {
  box-shadow: 0 0 27.64px -6.04px rgba(0, 0, 0, 0.8);
}
#Ourservices .Ourservices_Boxes:hover {
  box-shadow: 0 0 27.64px 0.77px rgba(0, 0, 0, 0.8);
}

/*  */
.nav_btn:hover .Animation_CallIcon {
  animation: Callicon 0.001s linear 0s infinite alternate;
}
@keyframes Callicon {
  0% {
    position: relative;
    transform: translate(-1px, 0) rotate(10deg);
  }
  50% {
    position: relative;
    transform: translate(-2px, 0) rotate(0deg);
  }
  0% {
    position: relative;
    transform: translate(-1px, 0) rotate(10deg);
  }
}
/*  */

.btop_animation {
  animation: BackTOp 2.5s linear 0s infinite alternate;
}
@keyframes BackTOp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* loader */

.ayoub-loader .loader,
.ayoub-loader .loader::before,
.ayoub-loader .loader::after {
  border-radius: 50%;
}
.ayoub-loader .loader {
  width: var(--loader-size);
  height: var(--loader-size);
  background-color: var(--bg-yellow);
  position: relative;
}

.ayoub-loader .loader::before,
.ayoub-loader .loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: var(--border-width);
  border-style: solid;
  animation: rotate 1s ease-in-out infinite;
}
.ayoub-loader .loader::before {
  z-index: 3;
  width: var(--loader-size);
  height: var(--loader-size);
  border-color: var(--text-blue) transparent;
}
.ayoub-loader .loader::after {
  z-index: 4;
  width: calc(var(--loader-size) + var(--border-width) * 2);
  height: calc(var(--loader-size) + var(--border-width) * 2);
  border-color: transparent var(--bg-orange);
  animation-direction: reverse;
}

@keyframes rotate {
  from {
    transform: translate(-50.5%, -49.5%) rotate(360deg);
  }
  to {
    transform: translate(-50.5%, -49.5%) rotate(0deg);
  }
}

@media (min-width: 576px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-2x2l: 22px;
    --fs-4x4l: 44px;
    --fs-2x8l: 28px;
    --fs-5x2l: 52px;
    --fs-6x4l: 64px;
    /* */
  }
}
@media (min-width: 768px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-4x4l: 44px;
    --fs-2x2l: 22px;
    --fs-2x8l: 28px;
    --fs-5x2l: 52px;
    --fs-6x4l: 64px;
    /* */
  }
}
@media (min-width: 992px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 18px;
    --fs-4x4l: 44px;
    --fs-xl: 20px;
    --fs-2x2l: 22px;
    --fs-2x8l: 28px;
    --fs-5x2l: 46px;
    --fs-6x4l: 64px;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-4x4l: 44px;
    --fs-2x2l: 22px;
    --fs-2x8l: 28px;
    --fs-5x2l: 52px;
    --fs-6x4l: 64px;
    /* */
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important;
  }
}
